In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections
import itertools

In [113]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1241,tt1815862,130000000,243843127,After Earth,Jaden Smith|Will Smith|Sophie Okonedo|ZoÃ« Kra...,M. Night Shyamalan,"Danger is real, fear is a choice",One thousand years after cataclysmic events fo...,100,Science Fiction|Action|Adventure,Columbia Pictures|Blinding Edge Pictures|Overb...,5/30/2013,5.1,2013
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1536,tt0436697,15000000,123384128,The Queen,Helen Mirren|Michael Sheen|James Cromwell|Sylv...,Stephen Frears,Our Leaders. Ourselves.,The Queen is an intimate behind the scenes gli...,103,Drama,BIM Distribuzione|Granada Film Productions|Sco...,9/15/2006,6.6,2006
1561,tt0378194,30000000,152159461,Kill Bill: Vol. 2,Uma Thurman|David Carradine|Daryl Hannah|Micha...,Quentin Tarantino,The bride is back for the final cut.,The Bride unwaveringly continues on her roarin...,136,Action|Crime|Thriller,Miramax Films|A Band Apart|Super Cool ManChu,4/16/2004,7.5,2004
1044,tt1615065,45000000,47000000,Savages,Blake Lively|Taylor Kitsch|Aaron Taylor-Johnso...,Oliver Stone,Young Beautiful Deadly.,Pot growers Ben and Chon face off against the ...,131,Crime|Drama|Thriller,Ixtlan|Relativity Media|Onda Entertainment,7/6/2012,6.2,2012

In [114]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [115]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['release_date'] = pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['profit'] = data['revenue'] - data['budget'] 
def top_genres(a):
    cnt = collections.Counter()
    for i in a:
        for j in i:
            cnt[j] += 1
    return cnt.most_common(1)

def top_party(a):
    combinations = itertools.combinations(a, 2)
    for c in combinations:
        return c
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?   +

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [116]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [167]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# Применяем функцию max() и через фильтр находим фильм.
max_budget = data['budget'].max()
data[data['budget'] == max_budget]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000

ВАРИАНТ 2

In [172]:
# Сортируем и по индексу определяем фильм.
display(data['budget'].sort_values(ascending = False))
data.iloc[723]

723     380000000
1669    300000000
14      280000000
380     260000000
1014    260000000
          ...
805       5000000
1817      5000000
277       5000000
1173      5000000
885       5000000
Name: budget, Length: 1889, dtype: int64

imdb_id                                                         tt1298650
budget                                                          380000000
revenue                                                        1021683000
original_title                Pirates of the Caribbean: On Stranger Tides
cast                    Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...
director                                                     Rob Marshall
tagline                                       Live Forever Or Die Trying.
overview                Captain Jack Sparrow crosses paths with a woma...
runtime                                                               136
genres                                           Adventure|Action|Fantasy
production_companies    Walt Disney Pictures|Jerry Bruckheimer Films|M...
release_date                                          2011-05-11 00:00:00
vote_average                                                          6.3
release_year                                                         2011
profit                                                          641683000
Name: 723, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [119]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

In [120]:
# Использую тот же метод как и в предыдущем случае.
max_runtime = data['runtime'].max()
data.loc[data['runtime'] == max_runtime]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [121]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# Аналогично предыдущему заданию только пользуемся функцией min().
min_runtime = data['runtime'].min()
data.loc[data['runtime'] == min_runtime]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [122]:
answers['4'] = '109.6585494970884'

# Используем функцию mean().
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [123]:
# Используем функцию median().
answers['5'] = '107.0'

data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [124]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '239. Avatar (tt0499549)'


# К основному датафрейму добавляем столбец 'profit' и с помощью функции max() находим фильм.
max_profit = data['profit'].max()
data.loc[data['profit'] == max_profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [125]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# Аналогично предыдущему заданию только пользуемся функцией min().
min_profit = data['profit'].min()
data.loc[data['profit'] == min_profit]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [126]:
answers['8'] = '1478'

# Задаем условие сравнения и с помощью 'len' выделяем количество фильмов.
len(data[(data['budget']) < (data['revenue'])])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [127]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# Группируем по году выпуска и сборам и применяем агрегирующую функцию max()
most_rev = (data.groupby(['release_year'])['revenue'].max())
most_rev[2008]
data[data['revenue'] == most_rev[2008]]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [173]:
# С этого задания будем у каждого задания создавать копию исходного датасета для удобства.
# В случае если нужно найти только число можно так.
data_09 = data.copy()
data_09 = data[data['release_year']==2008]
data_09['revenue'].max()

1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [176]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'
data_10 = data.copy()

# С помощью логических операторов и функции min() выделяем наименьшее значение столбца 'profit'.
min_profit_2012_2014 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]['profit'].min()
# Через условие выделяем фильм. 
data_10[data_10['profit'] == min_profit_2012_2014]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [130]:
answers['11'] = 'Drama'
data_11 = data.copy()

# Разделяем строки в слотбце 'genres'.
data_11 = data_11['genres'].str.split('|')

# В предобработку выносим функцию top_genres где используем counts.
# Запускаем функцию.
print(top_genres(data_11))

[('Drama', 782)]

ВАРИАНТ 2

In [131]:
# Альтернативный способ через использование 'explode'

# Разделяем строки
top_genres_ = data['genres'].str.split('|')
# Взрываем столбец 'genres'
top_genres_ = top_genres_.explode('genres')
# Сортируем датафрейм и через индекс выделяем макс. значение
top_genres_.value_counts().index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [132]:
answers['12'] = 'Drama'
data_12 = data.copy()

# По условию оставляем только прибыльные фильмы и разделяем строки.
data_12 = data_12[data_12.profit > 0].genres.str.split('|')

# Снова применяем функцию.
print(top_genres(data_12))

[('Drama', 560)]

In [177]:
# Альтернативный способ через explode и сортировку.
data[data.profit > 0].genres.str.split('|').explode('genres').value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [178]:
answers['13'] = 'Peter Jackson'
data_13 = data.copy()

# Разделяем строки.
data_13['director'] = data_13.director.str.split('|')

# Взрываем столбец.
data_13 = data_13.explode('director')

# Групируем режисеров по сборам и применяем .sum().
data_13 = data_13.groupby(['director'])['revenue'].sum() 

# Сортируем результат и получаем искомое.
data_13.sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [179]:
answers['14'] = 'Robert Rodriguez'
data_14 = data.copy()

# Оставляем только нужные столбцы во имя экономии памяти.
data_14 = data_14[['director', 'genres']]

# Разделяем строки в столбцах и взрываем их.
data_14['genres'] = data_14.genres.str.split('|')
data_14['director'] = data_14.director.str.split('|')
data_14 = data_14.explode('director')
data_14 = data_14.explode('genres')

# Оставляем только фильмы фанра 'Action'.
data_14 = data_14[data_14['genres'] == 'Action']

# Сортируем результат и получаем искомое.
data_14.value_counts().index[0]

('Robert Rodriguez', 'Action')

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [180]:
answers['15'] = 'Chris Hemsworth'

# Копируем исходный датафрейм но уже только и интересующим нас годом.
data_15 = data[data.release_year == 2012].copy()

# Разделяем строки и взрываем столбец
data_15['cast'] = data_15['cast'].str.split('|')
data_15 = data_15.explode('cast')

# Группируем актеров по сборам суммируем и сортируем результат.
data_15.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [137]:
answers['16'] = 'Matt Damon'
data_16 = data.copy()

# Сразу задаем все условия и получаем результат.
data_16 = pd.Series(data_16[data_16.budget > data_16.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]
data_16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [138]:
answers['17'] = 'Action'
data_17 = data.copy()

# Оставляем только нужные столбцы во имя экономии памяти. Разделяем строки в столбцах и взрываем их.
data_17 = data_17[['cast', 'genres']]
data_17['genres'] = data_17.genres.str.split('|')
data_17['cast'] = data_17.cast.str.split('|')
data_17 = data_17.explode('cast')
data_17 = data_17.explode('genres')

# Оставляем только фильмы фанра 'Action', сортируем и получаем результат.
data_17 = data_17[data_17['cast'] == 'Nicolas Cage']
data_17.value_counts().index[0]

('Nicolas Cage', 'Action')

# 18. Самый убыточный фильм от Paramount Pictures

In [139]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'
data_18 = data.copy()

# Оставляем только нужные столбцы во имя экономии памяти. Разделяем строки в столбце 'production_companies'
data_18 = data_18[['production_companies', 'profit','original_title']]
data_18['production_companies'] = data_18['production_companies'].str.split('|')
data_18 = data_18.explode('production_companies') 

# Оставляем только фильмы студии 'Paramount Pictures', сортируем и получаем результат.
data_18 = data_18[(data_18['production_companies'] == 'Paramount Pictures')]
display(data_18.sort_values('profit').iloc[0])
data[data['original_title'] == 'K-19: The Widowmaker']

production_companies      Paramount Pictures
profit                             -64831034
original_title          K-19: The Widowmaker
Name: 925, dtype: object

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [140]:
answers['19'] = '2015'
data_19 = data.copy()

# Группируем зборы по годам, суммируем, сортируем и получаем результат.
data_19.groupby('release_year')['revenue'].sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [181]:
answers['20'] = '2014'
data_20 = data.copy()

# Снова разбиваем строки и взрываем столбец.
data_20['production_companies'] = data_20['production_companies'].str.split('|')
data_20 = data_20.explode('production_companies') 

# Применяем функцию str.contains и отавляем только те строки в которых присутствует подстрока 'Warner Bros'
data_20 = data_20[data_20['production_companies'].str.contains('Warner Bros')] 

# Группируем прибыль по годам сортируем и получаем результат. 
data_20 = data_20.groupby('release_year')['profit'].sum()
data_20 = data_20.sort_values(ascending = False).index[0]
data_20

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [142]:
answers['21'] = '9'
data_21 = data.copy()

# Создаем столбец куда выделяем месяц релиза сортируем и получаем результат.
data_21['month'] = pd.to_datetime(data.release_date).dt.month
data_21['month'].value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [182]:
answers['22'] = '450'
data_22 = data.copy()

# Создаем столбец куда выделяем месяц релиза.
data_22['month'] = pd.to_datetime(data.release_date).dt.month

# Сортируем, и с помощью iloc выделяем нужные месяца. Сумируем.
data_22['month'].value_counts().sort_index().iloc[5:8].sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [186]:
answers['23'] = 'Peter Jackson'
data_23 = data.copy()

# Как и в предидущем задании добавляем столбец 'month' разбиваем строки и взрываем столбец 'director'
data_23['month'] = pd.to_datetime(data.release_date).dt.month
data_23['director'] = data_23.director.str.split('|')
data_23 = data_23.explode('director')

# С помощью логических операторов оставляем только зимние месяцы.
data_23 = data_23[(data_23['month'] == 1)|(data_23['month'] == 2)|(data_23['month'] == 12)]

# Группируем режисеров по месяцам. Применяем count(). Сортируем получаем результат.
data_23 = data_23.groupby('director')['month'].count().sort_values(ascending = False).index[0]
data_23

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [187]:
answers['24'] = 'Four By Two Productions'
data_24 = data.copy()

# Снова разбиваем строки и взрываем столбец.
data_24['production_companies'] = data_24['production_companies'].str.split('|')
data_24 = data_24.explode('production_companies')

# Добавляем столбец с длинной названий
data_24['lenght'] = data_24['original_title'].str.len()

# Группируем студии по средней длине. Сортируем получаем результат.
data_24.groupby('production_companies')[['lenght']].mean().sort_values(by='lenght',ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [198]:
answers['25'] = 'Midnight Picture Show'
data_25 = data.copy()

# Создаем столбец с длинной описания. Удаляем запятые. Разделяем по пробелам.
data_25['len_overview'] = data_25['overview'].str.replace(',','').str.split(' ')
data_25['len_overview'] = data_25.len_overview.apply(lambda x:len(x))

# Снова разбиваем строки. Взрываем столбец
data_25['production_companies'] = data_25['production_companies'].str.split('|')
data_25 = data_25.explode('production_companies')

# Группируем студии по средней длине. Сортируем получаем результат.
data_25.groupby('production_companies')[['len_overview']].mean().sort_values(by='len_overview',ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [192]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data_26 = data.copy()

# Берем нужные нам столбцы и сразу сортируем.
data_26 = data_26[['vote_average','original_title']].sort_values(by = 'vote_average')

# используем 'np.quantile' и получаем фильмы входящие в 1%.
quant = np.quantile(data_26[['vote_average']],0.99)
data_26 = data_26[(data_26['vote_average']) >= quant]
data_26

      vote_average                                     original_title
1205           7.8                                          Prisoners
124            7.8                                         Big Hero 6
496            7.8  The Lord of the Rings: The Fellowship of the Ring
316            7.8                                           3 Idiots
28             7.8                                          Spotlight
1444           7.8                                       The Prestige
1188           7.8                                                Her
177            7.8                             The Fault in Our Stars
1213           7.8                                 Dallas Buyers Club
1563           7.8              Eternal Sunshine of the Spotless Mind
155            7.8                           The Theory of Everything
863            7.8              The Lord of the Rings: The Two Towers
1688           7.8                                There Will Be Blood
283            7.8                                         Mr. Nobody
1191           7.9                                   12 Years a Slave
872            7.9                                        The Pianist
128            7.9                                          Gone Girl
1800           7.9                                            Memento
119            7.9                            Guardians of the Galaxy
370            7.9                                          Inception
1183           7.9                            The Wolf of Wall Street
138            7.9                           The Grand Budapest Hotel
1081           7.9      The Lord of the Rings: The Return of the King
34             8.0                                               Room
118            8.0                                       Interstellar
9              8.0                                         Inside Out
125            8.0                                 The Imitation Game
599            8.1                                    The Dark Knight

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [148]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'
data_27 = data.copy()

# Разбиваем строки
data_27['cast'] = data_27['cast'].str.split('|')

# В предобработку выносим функцию которая комбинирует актеров парами. используем ее.
z = data_27['cast'].apply(top_party)

# Результат приводим к типу list и с помощью Counter определяем самую встречающуюся пару.
z = z.to_list()
c = Counter(z)
c.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 7)]

# Submission

In [199]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [156]:

len(answers)

27